
@media (min-width: 577px) {}

@media (min-width: 768px) {}

@media (min-width: 1200px) {
  .toggler {
    display: none;
  }
  header.header nav {
    display: inline-block !important;
    position: relative;
    width: auto;
    padding: 0;
  }
  header.header .nav-item {
    float: left;
    margin: 0px;
    width: auto;
  }
  header.header .nav-link {
    padding: 8px 25px;
  }
}

@media (min-width: 1200px) {}

@media (min-width: 1440px) {}

@media (min-width: 1680px) {}

/*--------------------sceer max width-------------------------*/

@media (max-width: 767px){}
